<%= form_for @property do |form| %>
  <% if @property.errors.any? %>
    <div id = "error_explanation">
      <h2><%= @property.errors.count %>件の件エラーがあります</h2>
      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>    
  <% end %>
  <h2>物件登録</h2>
  <dl>
    <dt>物件名</dt>
    <dd><%= form.text_field :name %></dd>
    <dt>賃料</dt>
    <dd><%= form.text_field :price %></dd>
    <dt>住所</dt>
    <dd><%= form.text_field :address %></dd>
    <dt>築年数</dt>
    <dd><%= form.text_field :age_building %></dd>
    <dt>備考</dt>
    <dd><%= form.text_area :note %></dd>
  </dl>
  <hr>
  <h3>最寄り駅</h3>
  <dl>
    <dt>路線名</dt>
    <dt>駅名</dt>
    <dt>徒歩分数</dt>
  </dl>
  <%= form.submit %>
  <% end %>

